In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

df_game_events_dummy = pd.read_parquet("Q:/Universidade/PISI3/pullebyte-analises/DataSet Project/transfermarkrt-dados-clean/dummy_data/game_events_dummy.parquet")
df_gamesEvents = pd.read_parquet("Q:/Universidade/PISI3/pullebyte-analises/DataSet Project/transfermarkrt-dados-clean/game_events.parquet")

In [61]:
df_gamesEvents

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
0,2f41da30c471492e7d4a984951671677,2012-08-05,2211607,77,cards,610,4425,"1. yellow card , mass confrontation",null,null
1,a72f7186d132775f234d3e2f7bc0ed5b,2012-08-05,2211607,77,cards,383,33210,"1. yellow card , mass confrontation",null,null
2,b2d721eaed4692a5c59a92323689ef18,2012-08-05,2211607,3,goals,383,36500,", header, 1. tournament goal assist: , corner,...",null,56416.0
3,aef768899cedac0c9a650980219075a2,2012-08-05,2211607,53,goals,383,36500,", right-footed shot, 2. tournament goal assist...",null,146258.0
4,5d6d9533023057b6619ecd145a038bbe,2012-08-05,2211607,74,substitutions,383,36500,null,49499.0,null
...,...,...,...,...,...,...,...,...,...,...
742081,aa086435e942493819fc978d48028beb,2024-05-25,4352472,84,cards,124,477930,"1. yellow card , foul",null,null
742082,47394562a86d1a70a0c207487178d3e4,2024-05-25,4352472,62,substitutions,371,489463,", tactical",434223.0,null
742083,532e6217a44b5d09edb1977451c70f0e,2024-05-25,4352472,78,substitutions,371,496656,", tactical",504090.0,null
742084,503c7cf5c1f29f183b461580e192bf84,2024-05-25,4352472,74,substitutions,124,505653,", tactical",404384.0,null
742085,6034572b9adecf7baa3f2134a76b3166,2024-05-25,4352472,54,cards,124,776798,1. yellow card,null,null

In [2]:
df_appereances = pd.read_parquet("Q:/Universidade/PISI3/pullebyte-analises/DataSet Project/transfermarkrt-dados-clean/appearances.parquet")
game_stats = df_appereances.groupby(['game_id', 'player_club_id'])[['yellow_cards', 'red_cards', 'goals', 'assists']].sum().reset_index()
game_stats.rename(columns={'player_club_id': 'club_id'}, inplace=True)
game_stats

      game_id  club_id  yellow_cards  red_cards  goals  assists
0     2262147      419             0          0      0        0
1     2262147      720             0          0      2        2
2     2262148      338             0          0      1        1
3     2262148      583             1          0      4        3
4     2262149       11             1          0      2        2
...       ...      ...           ...        ...    ...      ...
2875  4331177      418             1          0      2        1
2876  4331178       27             2          0      2        2
2877  4331178      418             2          0      2        2
2878  4343512       16             3          0      0        0
2879  4343512      418             1          0      2        2

[2880 rows x 6 columns]

# Salvando os dados descritivos aplicando One-hot encoding
Pegamos os dados de texto contidos no campo descriÃ§Ã£o e dummerizamos em diversas colunas

In [ ]:
unique_values = set()

# Itera sobre a coluna 'description' e extrai os valores Ãºnicos
for description in df_game_events['description']:
  if pd.notna(description):
    # Remove nÃºmeros e pontos no inÃ­cio da descriÃ§Ã£o
    description = description.split('. ', 1)[-1]
    values = description.split(', ')
    unique_values.update(values)

# Cria novas colunas no DataFrame para cada valor Ãºnico
for value in unique_values:
  df_game_events[value.replace(' ', '_')] = df_game_events['description'].apply(lambda x: 1 if (pd.notna(x) and value in x.split('. ', 1)[-1]) else 0)

# Remove a coluna original 'description' se desejar
df_game_events = df_game_events.drop('description', axis=1)

# Save the DataFrame to a parquet file
df_game_events.to_parquet("Q:/Universidade/PISI3/pullebyte-analises/DataSet Project/transfermarkrt-dados-clean/dummy_data/game_events_description_dummy.parquet")

Visualizamos as colunas que estÃ£o contidas no dataframe

In [101]:
df_game_events_dummy.columns.to_list()

['game_event_id',
 'date',
 'game_id',
 'minute',
 'type',
 'club_id',
 'player_id',
 'player_in_id',
 'player_assist_id',
 '',
 'substitution_without_replacement',
 'tournament_goal_assist:_',
 '4._tournament_assist',
 '18._assist_of_the_season',
 'tournament_assist',
 'handball',
 'tournament_goal_assist:_fouled_player',
 'goal_of_the_season_assist:_shot_on_goal',
 '7._assist_of_the_season',
 'saved',
 '6._tournament_assist',
 '10._assist_of_the_season',
 '11._assist_of_the_season',
 'tactical_foul',
 'special_achievements',
 'goal-kick',
 'own-goal_assist:_free_kick',
 'goal_of_the_season_assist:_without_assist',
 '5._tournament_assist',
 'tournament_goal_assist:_without_assist',
 '1._tournament_assist',
 'mass_confrontation',
 'time_wasting',
 'goal_of_the_season',
 'null',
 'corner',
 'taking_off_shirt',
 '15._assist_of_the_season',
 'goal_of_the_season_assist:_',
 '2._tournament_assist',
 'shooting_ball',
 'abuse',
 '3._tournament_assist',
 'taking_of_shirt',
 'delay',
 '12._assist_of_the_season',
 'goal_of_the_season_assist:_header',
 'professional_foul',
 'tournament_goal_assist:',
 '1._assist_of_the_season',
 '13._assist_of_the_season',
 'throw-in',
 'penalty:_fouled_player',
 'second_yellow__',
 'own-goal_assist:_cross',
 'wall_distance',
 'scored',
 'tournament_goal_assist:_header',
 'pass',
 '7._tournament_assist',
 '8._tournament_assist',
 '17._assist_of_the_season',
 'own-goal_assist:',
 'second_yellow',
 'tournament_goal_assist:_shot_on_goal',
 'red_card',
 '6._assist_of_the_season',
 'missed',
 '16._assist_of_the_season',
 'assist_of_the_season',
 'repeated_foul',
 '2._assist_of_the_season',
 'goal_of_the_season_assist:_handball_by',
 'fouled_player',
 'own-goal_assist:_header',
 'goal_of_the_season_assist:_cross',
 '4._assist_of_the_season',
 'serious_foul',
 'dissent',
 'header',
 'tournament_goal_assist:_free_kick',
 'goal_of_the_season_assist:_free_kick',
 'diving',
 'goal_of_the_season_assist:_corner',
 '19._assist_of_the_season',
 'risk_of_booking',
 'own-goal',
 'shot_on_goal',
 'tournament_goal',
 'tournament_goal_assist:_cross',
 'tournament_goal_assist:_penalty:_fouled_player',
 'violent_conduct',
 'red_card__',
 'tournament_goal_assist:_throw-in',
 'without_assist',
 'cross',
 'goal_of_the_season_assist:_fouled_player',
 '9._assist_of_the_season',
 'foul',
 'injury',
 'goal_of_the_season_assist:',
 'yellow_card',
 'own-goal_assist:_without_assist',
 'resting',
 'free_kick',
 'tournament_goal_assist:_handball_by',
 'goal_of_the_season_assist:_penalty:_fouled_player',
 'None',
 '5._assist_of_the_season',
 'own-goal_assist:_shot_on_goal',
 '14._assist_of_the_season',
 'own-goal_assist:_corner',
 'tactical',
 '3._assist_of_the_season',
 '8._assist_of_the_season',
 'unsporting_behaviour',
 'yellow_card__',
 'climbing_fence',
 'tournament_goal_assist:_corner',
 'tournament_goal_assist:_pass',
 'goal_of_the_season_assist:_pass']

Filtramos o dataframe com as colunas requeridas

In [4]:
df_game_events_dummy_filtred = df_game_events_dummy[[
'game_event_id',
 'game_id',
 'minute',
 'type',
 'club_id',
 'player_id',
 'player_in_id',
 'player_assist_id',
 'tournament_assist',
 # AssistÃªncias em torneios
    '1._tournament_assist',
    '2._tournament_assist',
    '3._tournament_assist',
    '5._tournament_assist',
    '6._tournament_assist',
    '7._tournament_assist',
    '8._tournament_assist',
    'tournament_goal_assist:_',
    'tournament_goal_assist:_fouled_player',
    'tournament_goal_assist:_shot_on_goal',
    'tournament_goal_assist:_without_assist',
    'tournament_goal_assist:_penalty:_fouled_player',
    'tournament_goal_assist:_pass',
    
    'goal_of_the_season',
    'goal_of_the_season_assist:_corner',
    'goal_of_the_season_assist:_penalty:_fouled_player',
    
    #assistencia de temporada
    'assist_of_the_season',
    '9._assist_of_the_season',
    '10._assist_of_the_season',
    '11._assist_of_the_season',
    '12._assist_of_the_season',
    '13._assist_of_the_season',
    '14._assist_of_the_season',
    '15._assist_of_the_season',


    # Eventos de jogada
    'scored',
    'missed',
    'saved',
    'shot_on_goal',
    'pass',
    'cross',
    'free_kick',
    'goal-kick',
    'throw-in',
    'corner',
    'penalty:_fouled_player',

    # Eventos relacionados a comportamento
    'foul',
    'repeated_foul',
    'serious_foul',
    'professional_foul',
    'tactical_foul',
    #violaÃ§Ã£o de conduta esportiva
    'unsporting_behaviour',
    'dissent',
    'abuse',
    'violent_conduct',
    'time_wasting',
    'delay',
    'resting',

    # CartÃµes e penalidades
    'yellow_card',
    'yellow_card__',
    'red_card',
    'red_card__',
    'second_yellow',
    'second_yellow__',

    # Outros eventos
    'handball',
    'mass_confrontation',
    'injury',
    'climbing_fence',
    'taking_off_shirt',
    'taking_of_shirt',
    'tactical',
    'diving',
    'own-goal',
 ]]

In [5]:
import numbers
df_game_events_dummy_filtred.rename(columns={'club_id': 'event_club_id', '1._tournament_assist':'tournament_assist',	
                                             '2._tournament_assist':'tournament_assist', 
                                             '3._tournament_assist':'tournament_assist',	
                                             '5._tournament_assist':'tournament_assist',	
                                             '6._tournament_assist':'tournament_assist',	
                                             '7._tournament_assist':'tournament_assist',	
                                             '8._tournament_assist':'tournament_assist',
    '9._assist_of_the_season': 'assist_of_the_season',
    '10._assist_of_the_season': 'assist_of_the_season',
    '11._assist_of_the_season': 'assist_of_the_season',
    '12._assist_of_the_season': 'assist_of_the_season',
    '13._assist_of_the_season': 'assist_of_the_season',
    '14._assist_of_the_season': 'assist_of_the_season',
    '15._assist_of_the_season': 'assist_of_the_season',
    'yellow_card__': 'yellow_card',
    'red_card__':'red_card',
    'second_yellow__': 'yellow_card',
    'second_yellow': 'yellow_card'}, inplace=True)

C:\Users\Eduar\AppData\Local\Temp\ipykernel_11492\748014168.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game_events_dummy_filtred.rename(columns={'club_id': 'event_club_id', '1._tournament_assist':'tournament_assist',

In [6]:
# Passo 1: Identificar colunas duplicadas
colunas_duplicadas = df_game_events_dummy_filtred.columns[df_game_events_dummy_filtred.columns.duplicated()].unique()

# Passo 2: Mesclar as colunas duplicadas
for coluna in colunas_duplicadas:
    df_game_events_dummy_filtred[coluna] = df_game_events_dummy_filtred.filter(like=coluna).any(axis=1).astype(int)

# Passo 3: Remover colunas duplicadas, mantendo apenas as mescladas
df_game_events_dummy_filtred_02 = df_game_events_dummy_filtred.loc[:, ~df_game_events_dummy_filtred.columns.duplicated()]

C:\Users\Eduar\AppData\Local\Temp\ipykernel_11492\1351028666.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game_events_dummy_filtred[coluna] = df_game_events_dummy_filtred.filter(like=coluna).any(axis=1).astype(int)
C:\Users\Eduar\AppData\Local\Temp\ipykernel_11492\1351028666.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game_events_dummy_filtred[coluna] = df_game_events_dummy_filtred.filter(like=coluna).any(axis=1).astype(int)
C:\Users\Eduar\AppData\Local\Temp\ipykernel_11492\1351028666.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game_events_dummy_filtred[coluna] = df_game_events_dummy_filtred.filter(like=coluna).any(axis=1).astype(int)
C:\Users\Eduar\AppData\Local\Temp\ipykernel_11492\1351028666.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game_events_dummy_filtred[coluna] = df_game_events_dummy_filtred.filter(like=coluna).any(axis=1).astype(int)

In [50]:
df_game_events_dummy_filtred_02['tournament_assist']

tournament_assist
0    729519
1     12567
Name: count, dtype: int64

In [42]:
df_game_events_dummy_filtred_02.to_parquet("Q:/Universidade/PISI3/pullebyte-analises/DataSet Project/transfermarkrt-dados-clean/dummy_data/game_events_descr_dummy_filtred.parquet")

# JunÃ§Ã£o dos datasets
Aqui realizamos a junÃ§Ã£o dos dataset que jugamos relevantes para a analise

In [3]:
df_club_games = pd.read_parquet("Q:/Universidade/PISI3/pullebyte-analises/DataSet Project/transfermarkrt-dados-clean/club_games.parquet")
# df_club_games

In [4]:
df_games = pd.read_parquet('Q:/Universidade/PISI3/pullebyte-analises/DataSet Project/transfermarkrt-dados-clean/games.parquet')
df_games = df_games[['game_id', 'home_club_id', 'away_club_id', 'home_club_name', 'away_club_name', 'home_club_goals', 'away_club_goals', 'home_club_formation', 'away_club_formation']]
df_games

,game_id,home_club_id,away_club_id,home_club_name,away_club_name,home_club_goals,away_club_goals,home_club_formation,away_club_formation
105,2368466,371,5,celtic fc,AC Milan,0,3,4-2-3-1,4-3-2-1
106,2368481,683,58,olympiacos piraeus,RSC Anderlecht,3,1,4-4-1-1,4-1-4-1
111,2384520,141,506,galatasaray,Juventus FC,1,0,3-5-2,3-5-2 flat
212,2490853,610,583,ajax amsterdam,Paris Saint-Germain,1,1,4-3-3 Attacking,4-3-3 Attacking
222,2495311,12,27,as roma,Bayern Munich,1,7,4-3-3 Attacking,3-5-2
...,...,...,...,...,...,...,...,...,...
68274,3651124,2481,418,None,Real Madrid,0,3,4-2-3-1,4-3-3 Attacking
68294,4243700,16,383,borussia dortmund,PSV Eindhoven,2,0,4-2-3-1,4-3-3 Defending
68304,3651114,1082,409,losc lille,None,1,0,4-4-2 double 6,4-3-1-2
68312,3098025,1049,452,valencia cf,None,3,1,4-4-2 double 6,4-4-2 double 6
68361,2917405,26,2410,None,CSKA Moscow,1,2,3-4-3,3-4-2-1

Criou uma linha para cada time que em cada uma das partidas de modo que fique correta a disposiÃ§Ã£o dos dados

In [5]:
# Cria um DataFrame para os times da casa
home_teams = df_games[['game_id', 'home_club_id', 'home_club_name', 'home_club_goals', 'home_club_formation']].copy()
home_teams['team_type'] = 'home'
home_teams = home_teams.rename(columns={
    'home_club_id': 'club_id',
    'home_club_name': 'club_name',
    'home_club_goals': 'club_goals',
    'home_club_formation': 'club_formation'
})

# Cria um DataFrame para os times visitantes
away_teams = df_games[['game_id', 'away_club_id', 'away_club_name', 'away_club_goals', 'away_club_formation']].copy()
away_teams['team_type'] = 'away'
away_teams = away_teams.rename(columns={
    'away_club_id': 'club_id',
    'away_club_name': 'club_name',
    'away_club_goals': 'club_goals',
    'away_club_formation': 'club_formation'
})

# Concatena os DataFrames
games_sep_times = pd.concat([home_teams, away_teams])

# Ordena pelo 'game_id'
games_sep_times = games_sep_times.sort_values('game_id')

# Exibe o resultado
games_sep_times

# Substitui 'None' por '4-2-3-1' na coluna 'club_formation'
games_sep_times['club_formation'] = games_sep_times['club_formation'].apply(lambda x: '4-2-3-1'if x == 'None'else x)

games_sep_times

,game_id,club_id,club_name,club_goals,club_formation,team_type
57725,2262147,419,None,0,4-2-3-1,home
57725,2262147,720,FC Porto,2,4-2-3-1,away
9334,2262148,338,Dynamo Kyiv,1,4-2-3-1,away
9334,2262148,583,paris saint-germain,4,4-2-3-1,home
20749,2262149,969,montpellier hsc,1,4-2-3-1,home
...,...,...,...,...,...,...
20026,4331177,27,Bayern Munich,1,4-2-3-1,away
8513,4331178,27,bayern munich,2,4-2-3-1,home
8513,4331178,418,Real Madrid,2,4-4-2 double 6,away
51994,4343512,16,borussia dortmund,0,4-3-3 Attacking,home
51994,4343512,418,Real Madrid,2,4-3-1-2,away

JunÃ§Ã£o do games & game_events_dummy

In [ ]:
merge_club_games_events_dummy = df_club_games.merge(df_game_events_dummy_filtred_02, on='game_id')
merge_club_games_events_dummy

In [ ]:
merge_CL_club_games_events_clubs = df_games.merge(merge_club_games_events_dummy, on='game_id')
merge_CL_club_games_events_clubs[['game_id', 'home_club_id', 'away_club_id', 'home_club_goals','away_club_goals','home_club_formation','away_club_formation','own_goals','opponent_id','opponent_goals','is_win','event_club_id','player_id','player_in_id','player_assist_id','tournament_assist','goal_of_the_season','goal_of_the_season_assist:_corner','goal_of_the_season_assist:_penalty:_fouled_player','assist_of_the_season','scored','missed','saved','shot_on_goal','pass','cross','free_kick','goal-kick','throw-in','corner','penalty:_fouled_player','foul','repeated_foul','serious_foul','professional_foul','tactical_foul','unsporting_behaviour','dissent','abuse','violent_conduct','time_wasting','delay','resting','yellow_card','red_card','second_yellow','handball','mass_confrontation','injury','climbing_fence','taking_off_shirt','taking_of_shirt','tactical','diving','own-goal']]

In [90]:
merge_club_games_events_dummy.to_parquet("Q:/Universidade/PISI3/pullebyte-analises/DataSet Project/transfermarkrt-dados-clean/merged_data/merge_club_games_events_dummy.parquet")

In [82]:
# merge_sem_stats = df_games.merge(df_club_games, on='game_id')
# merge_sem_stats
df_club_games

,game_id,club_id,own_goals,own_manager_name,opponent_id,opponent_goals,opponent_manager_name,hosting,is_win
178,2368445,27,5,pep guardiola,941,0,pavel vrba,Home,1
179,2368466,371,0,neil lennon,5,3,massimiliano allegri,Home,0
180,2368478,190,0,stÃ¥le solbakken,418,2,carlo ancelotti,Home,0
181,2368481,683,3,michel,58,1,john van den brom,Home,1
205,2384520,141,1,roberto mancini,506,0,antonio conte,Home,1
...,...,...,...,...,...,...,...,...,...
136409,2618625,157,2,hein vanhaezebrouck,1041,1,hubert fournier,Away,1
136509,3098025,452,1,gerardo seoane,1049,3,marcelino,Away,0
136592,2452865,13,3,diego simeone,631,1,josÃ© mourinho,Away,1
136685,4312024,131,3,xavi,583,2,luis enrique,Away,1
136808,4171283,398,2,maurizio sarri,371,1,brendan rodgers,Away,1

In [81]:
games_sep_times

,game_id,club_id,club_name,club_goals,club_formation,team_type
57725,2262147,419,None,0,4-2-3-1,home
57725,2262147,720,FC Porto,2,4-2-3-1,away
9334,2262148,338,Dynamo Kyiv,1,4-2-3-1,away
9334,2262148,583,paris saint-germain,4,4-2-3-1,home
20749,2262149,969,montpellier hsc,1,4-2-3-1,home
...,...,...,...,...,...,...
20026,4331177,27,Bayern Munich,1,4-2-3-1,away
8513,4331178,27,bayern munich,2,4-2-3-1,home
8513,4331178,418,Real Madrid,2,4-4-2 double 6,away
51994,4343512,16,borussia dortmund,0,4-3-3 Attacking,home
51994,4343512,418,Real Madrid,2,4-3-1-2,away

In [83]:
game_stats

      game_id  club_id  yellow_cards  red_cards  goals  assists
0     2262147      419             0          0      0        0
1     2262147      720             0          0      2        2
2     2262148      338             0          0      1        1
3     2262148      583             1          0      4        3
4     2262149       11             1          0      2        2
...       ...      ...           ...        ...    ...      ...
2875  4331177      418             1          0      2        1
2876  4331178       27             2          0      2        2
2877  4331178      418             2          0      2        2
2878  4343512       16             3          0      0        0
2879  4343512      418             1          0      2        2

[2880 rows x 6 columns]

In [6]:
merge_game_sep_stats = games_sep_times.merge(game_stats, on=['club_id', 'game_id'])
merge_game_sep_stats_filtred = merge_game_sep_stats[['club_name', 'club_formation', 'team_type', 'yellow_cards', 'red_cards', 'goals', 'assists']]

In [9]:
merge_game_sep_stats_filtred['club_name'] = merge_game_sep_stats_filtred['club_name'].str.lower()
merge_game_sep_stats_filtred.to_parquet("Q:/Universidade/PISI3/pullebyte-analises/DataSet Project/transfermarkrt-dados-clean/merge_filtred_default.parquet")

C:\Users\Eduar\AppData\Local\Temp\ipykernel_11204\1381191719.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_game_sep_stats_filtred['club_name'] = merge_game_sep_stats_filtred['club_name'].str.lower()

/\ Essa tabela Ã© a tabela 0 a qual faremos a dummerizaÃ§Ã£o e atribuiremos os valores dos clusters

In [100]:
from sklearn.preprocessing import MinMaxScaler

# Select the columns to be scaled
columns_to_scale = ['yellow_cards', 'red_cards', 'goals', 'assists']

# Create a MinMaxScaler object
scaler = MinMaxScaler()

merge_game_sep_stats_filtred_normalized = merge_game_sep_stats_filtred.copy()

# Apply MinMaxScaler to the selected columns
merge_game_sep_stats_filtred_normalized[columns_to_scale] = scaler.fit_transform(merge_game_sep_stats_filtred[columns_to_scale])

# Display the updated DataFrame
merge_game_sep_stats_filtred_normalized

,club_name,club_formation,team_type,yellow_cards,red_cards,goals,assists
0,none,4-2-3-1,home,0.000,0.0,0.000,0.000
1,fc porto,4-2-3-1,away,0.000,0.0,0.250,0.250
2,dynamo kyiv,4-2-3-1,away,0.000,0.0,0.125,0.125
3,paris saint-germain,4-2-3-1,home,0.125,0.0,0.500,0.375
4,montpellier hsc,4-2-3-1,home,0.250,0.0,0.125,0.000
...,...,...,...,...,...,...,...
2875,bayern munich,4-2-3-1,away,0.000,0.0,0.125,0.125
2876,bayern munich,4-2-3-1,home,0.250,0.0,0.250,0.250
2877,real madrid,4-4-2 double 6,away,0.250,0.0,0.250,0.250
2878,borussia dortmund,4-3-3 Attacking,home,0.375,0.0,0.000,0.000
2879,real madrid,4-3-1-2,away,0.125,0.0,0.250,0.250

In [99]:
from sklearn.preprocessing import StandardScaler

# Selecionar as colunas a serem padronizadas
columns_to_standardize = ['yellow_cards', 'red_cards', 'goals', 'assists']

# Criar um objeto StandardScaler
scaler = StandardScaler()

# Aplicar a padronizaÃ§Ã£o nas colunas selecionadas
merge_game_sep_stats_filtred_standardized = merge_game_sep_stats_filtred.copy()
merge_game_sep_stats_filtred_standardized[columns_to_standardize] = scaler.fit_transform(merge_game_sep_stats_filtred[columns_to_standardize])

# Exibir o DataFrame atualizado
merge_game_sep_stats_filtred_standardized

,club_name,club_formation,team_type,yellow_cards,red_cards,goals,assists
0,none,4-2-3-1,home,-1.331019,-0.187726,-1.033465,-0.958931
1,fc porto,4-2-3-1,away,-1.331019,-0.187726,0.429848,0.658002
2,dynamo kyiv,4-2-3-1,away,-1.331019,-0.187726,-0.301808,-0.150465
3,paris saint-germain,4-2-3-1,home,-0.631377,-0.187726,1.893161,1.466468
4,montpellier hsc,4-2-3-1,home,0.068264,-0.187726,-0.301808,-0.958931
...,...,...,...,...,...,...,...
2875,bayern munich,4-2-3-1,away,-1.331019,-0.187726,-0.301808,-0.150465
2876,bayern munich,4-2-3-1,home,0.068264,-0.187726,0.429848,0.658002
2877,real madrid,4-4-2 double 6,away,0.068264,-0.187726,0.429848,0.658002
2878,borussia dortmund,4-3-3 Attacking,home,0.767905,-0.187726,-1.033465,-0.958931
2879,real madrid,4-3-1-2,away,-0.631377,-0.187726,0.429848,0.658002

In [112]:
stats = merge_game_sep_stats_filtred_normalized[['yellow_cards', 'red_cards', 'goals', 'assists']]

cols_to_dummy = merge_game_sep_stats_filtred_normalized.drop(columns=['yellow_cards', 'red_cards', 'goals', 'assists'])

cols_dummified = pd.get_dummies(cols_to_dummy)
cols_dummified = cols_dummified.astype(int)

merge_game_sep_stats_filtred_normalized_dummy = pd.concat([stats, cols_dummified], axis=1)
merge_game_sep_stats_filtred_normalized_dummy.to_parquet("Q:/Universidade/PISI3/pullebyte-analises/DataSet Project/transfermarkrt-dados-clean/merge_filtred_normalized_dummy")

In [114]:
stats = merge_game_sep_stats_filtred_standardized[['yellow_cards', 'red_cards', 'goals', 'assists']]

cols_to_dummy = merge_game_sep_stats_filtred_standardized.drop(columns=['yellow_cards', 'red_cards', 'goals', 'assists'])

cols_dummified = pd.get_dummies(cols_to_dummy)
cols_dummified = cols_dummified.astype(int)

merge_game_sep_stats_filtred_standardized_dummy = pd.concat([stats, cols_dummified], axis=1)
merge_game_sep_stats_filtred_standardized_dummy.to_parquet("Q:/Universidade/PISI3/pullebyte-analises/DataSet Project/transfermarkrt-dados-clean/merge_filtred_standardized_dummy")
merge_game_sep_stats_filtred_standardized_dummy

,yellow_cards,red_cards,goals,assists,club_name_1.fc union berlin,club_name_ac milan,club_name_aek athens,club_name_ajax amsterdam,club_name_arsenal fc,club_name_as monaco,club_name_as roma,club_name_atalanta bc,club_name_athletic bilbao,club_name_atltico de madrid,club_name_basaksehir fk,club_name_bayer 04 leverkusen,club_name_bayern munich,club_name_besiktas jk,club_name_borussia dortmund,club_name_borussia mnchengladbach,club_name_celtic fc,club_name_chelsea fc,club_name_club brugge kv,club_name_cska moscow,club_name_dynamo kyiv,club_name_eintracht frankfurt,club_name_fc barcelona,club_name_fc copenhagen,club_name_fc midtjylland,club_name_fc nordsjaelland,club_name_fc porto,club_name_fc schalke 04,club_name_feyenoord rotterdam,club_name_fk krasnodar,club_name_fk rostov,club_name_galatasaray,club_name_inter milan,club_name_juventus fc,club_name_kaa gent,club_name_krc genk,club_name_leicester city,club_name_liverpool fc,club_name_lokomotiv moscow,club_name_losc lille,club_name_manchester city,club_name_manchester united,club_name_mlaga cf,club_name_montpellier hsc,club_name_newcastle united,club_name_none,club_name_olympiacos piraeus,club_name_olympique lyon,club_name_olympique marseille,club_name_paris saint-germain,club_name_psv eindhoven,club_name_rangers fc,club_name_rb leipzig,club_name_rc lens,club_name_real madrid,club_name_real sociedad,club_name_royal antwerp fc,club_name_rsc anderlecht,club_name_sc braga,club_name_sevilla fc,club_name_shakhtar donetsk,club_name_sl benfica,club_name_spartak moscow,club_name_sporting cp,club_name_ss lazio,club_name_ssc napoli,club_name_stade rennais fc,club_name_tottenham hotspur,club_name_tsg 1899 hoffenheim,club_name_valencia cf,club_name_vfl wolfsburg,club_name_villarreal cf,club_name_zenit st. petersburg,club_formation_3-1-4-2,club_formation_3-3-3-1,club_formation_3-4-1-2,club_formation_3-4-2-1,club_formation_3-4-3,club_formation_3-4-3 Diamond,club_formation_3-5-2,club_formation_3-5-2 Attacking,club_formation_3-5-2 flat,club_formation_4-1-3-2,club_formation_4-1-4-1,club_formation_4-2-3-1,club_formation_4-3-1-2,club_formation_4-3-2-1,club_formation_4-3-3 Attacking,club_formation_4-3-3 Defending,club_formation_4-4-1-1,club_formation_4-4-2,club_formation_4-4-2 Diamond,club_formation_4-4-2 double 6,club_formation_4-5-1,club_formation_4-5-1 flat,club_formation_5-3-2,club_formation_5-4-1,team_type_away,team_type_home
0,-1.331019,-0.187726,-1.033465,-0.958931,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,-1.331019,-0.187726,0.429848,0.658002,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,-1.331019,-0.187726,-0.301808,-0.150465,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,-0.631377,-0.187726,1.893161,1.466468,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0.068264,-0.187726,-0.301808,-0.958931,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,-1.331019,-0.187726,-0.301808,-0.150465,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2876,0.068264,-0.187726,0.429848,0.658002,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2877,0.068264,-0.187726,0.429848,0.658002,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
2878,0.767905,-0.187726,-1.033465,-0.958931,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
2879,-0.631377,-0.187726,0.429848,0.658002,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0

In [8]:
stats = merge_game_sep_stats_filtred[['yellow_cards', 'red_cards', 'goals', 'assists']]

cols_to_dummy = merge_game_sep_stats_filtred.drop(columns=['yellow_cards', 'red_cards', 'goals', 'assists'])

cols_dummified = pd.get_dummies(cols_to_dummy)
cols_dummified = cols_dummified.astype(int)

merge_game_sep_stats_filtred_dummy = pd.concat([stats, cols_dummified], axis=1)
merge_game_sep_stats_filtred_dummy.to_parquet("Q:/Universidade/PISI3/pullebyte-analises/DataSet Project/transfermarkrt-dados-clean/merge_filtred_dummy")